 <footer id="footer">
    <div class="container-lg padding-medium">
      <div class="row ">
        <div class="col-lg-4 my-4 ">
          <div class="footer-menu">
            <a class="navbar-brand" href="">
              <img src="/images/Deetech-logo-small.png"  alt="logo" class="logo img-fluid">
            </a>
            <p class="mt-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <ul class="info list-unstyled mt-4">

            </ul>
            <div class="social-links mt-4">
              <ul class="d-flex  list-unstyled gap-2 m-0">
                <li class="social">
                  <a href="https://www.facebook.com/people/DeeTech-Group/61586813109639/" target="_blank">
                    <iconify-icon class="social-icon" icon="ri:facebook-fill"></iconify-icon>
                  </a>
                </li>
                <li class="social">
                  <a href="https://x.com/DeetechGroup" target="_blank">
                    <iconify-icon class="social-icon" icon="ri:twitter-fill"></iconify-icon>
                  </a>
                </li>
                <!-- <li class="social">
                  <a href="#">
                    <iconify-icon class="social-icon" icon="ri:pinterest-fill"></iconify-icon>
                  </a>
                </li> -->
                <li class="social">
                  <a href="https://www.instagram.com/deetech2026/" target="_blank">
                    <iconify-icon class="social-icon" icon="ri:instagram-fill"></iconify-icon>
                  </a>
                </li>
                <li class="social">
                  <a href="https://www.youtube.com/" target="_blank">
                    <iconify-icon class="social-icon" icon="ri:youtube-fill"></iconify-icon>
                  </a>
                </li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2 my-4 ">
          <div class="footer-menu">
            <h6 class="text-uppercase fw-bold  mb-4">Quick Links</h6>
            <ul class="menu-list list-unstyled">
              <li class="menu-item">
                <a href="#" class="footer-link">Home</a>
              </li>
              <li class="menu-item">
                <a href="#" class="footer-link">About us</a>
              </li>
              <li class="menu-item">
                <a href="/why-deetech" class="footer-link">Why DeeTech </a>
              </li>
              <li class="menu-item">
                <a href="/contact" class="footer-link">Conatct Us</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 my-4 ">
          <div class="footer-menu">
            <h6 class="text-uppercase fw-bold  mb-4">Services</h6>
            <ul class="menu-list list-unstyled">
              <li class="menu-item">
                <a href="#" class="footer-link">Payments</a>
              </li>
              <li class="menu-item">
                <a href="#" class="footer-link">Shipping</a>
              </li>
              <li class="menu-item">
                <a href="#" class="footer-link">Product returns </a>
              </li>
              <!-- <li class="menu-item">
                <a href="#" class="footer-link">FAQs</a>
              </li> -->
              <li class="menu-item">
                <a href="#" class="footer-link">Checkout</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-1 my-4 ">
          <div class="footer-menu">
            <h6 class="text-uppercase fw-bold  mb-4">Help Center</h6>
            <ul class="menu-list list-unstyled">
              <!-- <li class="menu-item">
                <a href="#" class="footer-link">Payments</a>
              </li>
              <li class="menu-item">
                <a href="#" class="footer-link">Shipping</a>
              </li> -->
              <li class="menu-item">
                <a href="#" class="footer-link">Product returns </a>
              </li>
              <li class="menu-item">
                <a href="#" class="footer-link">FAQs</a>
              </li>
              <li class="menu-item">
                <a href="#" class="footer-link">Services</a>
              </li>
              <!-- <li class="menu-item">
                <a href="#" class="footer-link">Checkout</a>
              </li> -->
            </ul>
          </div>
        </div>
        <div class="col-lg-3 my-4 ">
          <div class="footer-menu">
            <h6 class="text-uppercase fw-bold  mb-4">Contact Us</h6>
            <ul class="info list-unstyled mt-4">
              <li class="clock text-capitalize mb-2 align-items-center">
                <svg class="text-primary me-1" width="18" height="18">
                  <use xlink:href="#clock"></use>
                </svg>9:00-19:00, Sunday: Closed
              </li>
              <li class="location text-capitalize mb-2 align-items-center">
                <svg class="text-primary me-1" width="18" height="18">
                  <use xlink:href="#location"></use>
                </svg>First Floor, G-19 Sec-3 Noida
              </li>

              <li class="phone text-capitalize mb-2 align-items-center">
                <svg class="text-primary me-1" width="18" height="18">
                  <use xlink:href="#phone"></use>
                </svg>017 6245 7371
              </li>
              <li class="email text-capitalize mb-2 align-items-center">
                <svg class="text-primary me-1" width="18" height="18">
                  <use xlink:href="#email"></use>
                </svg>sales@deetechgroup.com
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-gray border-top">
      <div class="text-center py-4">
        <p class="mb-0">©2026 DeeTech Group</p>
      </div>
    </div>
  </footer>