<header id="header">
    <nav class="header-top bg-primary py-1">
      <div class="container-lg">
        <div class="d-flex flex-wrap justify-content-between align-items-center">
          <ul class="info d-flex flex-wrap list-unstyled m-0">
            <li class="location fs-6 text-capitalize text-white d-flex align-items-center me-4">
              <svg class="me-2" width="18" height="18">
                <use xlink:href="#location"></use>
              </svg> First Floor, G-19 Sec-3 Noida
            </li>
            <li class="phone fs-6 text-capitalize text-white d-flex align-items-center me-4">
              <svg class="me-2" width="18" height="18">
                <use xlink:href="#phone"></use>
              </svg> call: 017 6245 7371
            </li>

          </ul>
          <div class="social">
            <ul class="info d-flex flex-wrap list-unstyled m-0">

              <li class="social-icon text-white d-flex align-items-center me-3">
                Follow us:
              </li>
              <li class=" d-flex align-items-center me-3">
                <a href="https://www.facebook.com/people/DeeTech-Group/61586813109639/" target="_blank"> <svg class="text-white" width="18" height="18">
                    <use xlink:href="#facebook"></use>
                  </svg> </a>
              </li>
              <li class=" d-flex align-items-center me-3">
                <a href="https://www.instagram.com/deetech2026/" target="_blank"> <svg class="text-white" width="18" height="18">
                    <use xlink:href="#instagram"></use>
                  </svg> </a>
              </li>
              <li class=" d-flex align-items-center ">
                <a href="https://x.com/DeetechGroup" target="_blank"> <svg class="text-white" width="18" height="18">
                    <use xlink:href="#twitter"></use>
                  </svg> </a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </nav>
    <nav id="primary-header" class="navbar navbar-expand-lg py-3">
      <div class="container-lg">
        <a class="navbar-brand" href="">
          <img src="/images/Deetech-logo-small.png"  alt="logo" class="logo img-fluid">
        </a>
        <button class="navbar-toggler border-0 d-flex d-lg-none order-3 p-2 shadow-none" type="button"
          data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false">
          <svg class="navbar-icon" width="60" height="60">
            <use xlink:href="#navbar-icon"></use>
          </svg>
        </button>
        <div class="header-bottom offcanvas offcanvas-end" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
          <div class="offcanvas-header px-4 mt-3 ">
            <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"
              data-bs-target="#bdNavbar"></button>
          </div>
          <div class="offcanvas-body align-items-center justify-content-end">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item px-3 py-3 py-lg-0">
                <a class="nav-link active p-0" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item px-3 py-3 py-lg-0">
                <a class="nav-link active p-0" aria-current="page" href="/about">About Us</a>
              </li>
              <!--  <li class="nav-item px-3 py-3 py-lg-0 dropdown">
                <a class="nav-link p-0 dropdown-toggle" data-bs-toggle="dropdown" href="/about" role="button"
                  aria-expanded="false">About Us</a>
                <ul class="dropdown-menu dropdown-menu-end animate slide mt-3 border-0 shadow">
                 <li><a href="/about" class="dropdown-item">About Us <span
                        class="badge bg-secondary">Pro</span></a></li>
                  <li><a href="#" class="dropdown-item">Obituaries
                      <span class="badge bg-secondary">Pro</span></a></li>
                  <li><a href="#" class="dropdown-item">Price Plan <span
                        class="badge bg-secondary">Pro</span></a></li>
                  <li><a href="#" class="dropdown-item">FAQs <span class="badge bg-secondary">Pro</span></a></li>
                  <li><a href="#" class="dropdown-item">Contact <span
                        class="badge bg-secondary">Pro</span></a></li>
                  <li><a href="#" class="dropdown-item">Reviews <span
                        class="badge bg-secondary">Pro</span></a></li>
                  <li><a href="#" class="dropdown-item">Gallery <span
                        class="badge bg-secondary">Pro</span></a></li>
                  <li><a href="#" class="dropdown-item">Team <span class="badge bg-secondary">Pro</span></a>
                  </li>
                  <li><a href="#" class="dropdown-item">Thankyou <span
                        class="badge bg-secondary">Pro</span></a></li>
                  <li><a href="#" class="dropdown-item">Error 404 <span
                        class="badge bg-secondary">Pro</span></a></li>
                  <li><a href="#" class="dropdown-item">Styles <span class="badge bg-secondary">Pro</span></a>
                  </li> 
                </ul>
              </li>-->
              <!-- <li class="nav-item px-3 py-3 py-lg-0 dropdown">
                <a class="nav-link p-0 dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                  aria-expanded="false">Shop</a>
                <ul class="dropdown-menu dropdown-menu-end animate slide mt-3 border-0 shadow">
                  <li><a href="#" class="dropdown-item">Shop <span class="badge bg-secondary">Pro</span></a>
                  </li>
                  <li><a href="#" class="dropdown-item">Single-Product <span
                        class="badge bg-secondary">Pro</span></a></li>
                  <li><a href="#" class="dropdown-item">Cart <span class="badge bg-secondary">Pro</span></a>
                  </li>
                  <li><a href="#" class="dropdown-item">Wishlist <span
                        class="badge bg-secondary">Pro</span></a></li>
                  <li><a href="#" class="dropdown-item">Checkout <span
                        class="badge bg-secondary">Pro</span></a></li>
                </ul>
              </li> -->
              <li class="nav-item px-3 py-3 py-lg-0">
                <a class="nav-link p-0" href="/why-deetech">Services</a>
              </li>
              <!-- <li class="nav-item px-3 py-3 py-lg-0 dropdown">
                <a class="nav-link p-0 dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                  aria-expanded="false">Services</a>
                <ul class="dropdown-menu dropdown-menu-end animate slide mt-3 border-0 shadow">
                  <li><a href="#" class="dropdown-item">Services <span
                        class="badge bg-secondary"></span></a></li>
                  <li><a href="#" class="dropdown-item">Service-Details <span
                        class="badge bg-secondary"></span></a></li>
                </ul>
              </li> -->
              <li class="nav-item px-3 py-3 py-lg-0">
                <a class="nav-link p-0" href="/why-deetech">Why DeeTech</a>
              </li>
              <!-- <li class="nav-item px-3 py-3 py-lg-0 dropdown">
                <a class="nav-link p-0 dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                  aria-expanded="false">Blog</a>
                <ul class="dropdown-menu dropdown-menu-end animate slide mt-3 border-0 shadow">
                  <li><a href="#" class="dropdown-item">Blog <span class="badge bg-secondary">Pro</span></a>
                  </li>
                  <li><a href="#" class="dropdown-item">Single-Post <span
                        class="badge bg-secondary">Pro</span></a></li>
                </ul>
              </li> -->
              <li class="nav-item px-3 py-3 py-lg-0">
                <a class="nav-link p-0" href="/contact">Contact</a>
              </li>
              <!-- <li class="nav-item px-3 py-3 py-lg-0">
                <a class="nav-link p-0 fw-semibold text-uppercase" href="https://templatesjungle.gumroad.com/l/eternal"
                  target="_blank">Get Pro</a>
              </li> -->
              <!-- <li class="nav-item search-dropdown py-3 py-lg-0 ms-3 ms-lg-5 dropdown">
                <a class="nav-link p-0 search dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                  aria-expanded="false">
                  <svg class="search text-primary " width="24" height="24">
                    <use xlink:href="#search"></use>
                  </svg>
                </a>
                <ul class="dropdown-menu dropdown-menu-end animate slide mt-3 border-0 p-3 shadow">
                  <li class="position-relative d-flex align-items-center p-0">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary position-absolute end-0" type="submit">
                      <svg class="search" width="24" height="24">
                        <use xlink:href="#search"></use>
                      </svg>
                    </button>
                  </li>
                </ul>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>